<!doctype html>


{% load static %}
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" href="{% static 'sell/css/bootstrap.min.css' %}" >  
<script src="{% static 'sell/js/bootstrap.min.js' %}"></script>  
<link rel="stylesheet" type="text/css" href="{% static 'sell/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html lang="en">

<h1>Add a new item</h1>

<form action="{% url 'sell:add' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Add">
</form>

</html>
